.img-vert
  width: 100%
  border-radius: 8px
  margin: 5px 0px
  -webkit-box-shadow: 0px 0px 14px 4px rgba(184,184,184,1)
  -moz-box-shadow: 0px 0px 14px 4px rgba(184,184,184,1)
  box-shadow: 0px 0px 14px 4px rgba(184,184,184,1)
.title
  display: flex
  justify-content: flex-start
  align-items: center
.space
  margin: 30px 0px!important
.form
  margin-top: 3rem
  .section-input
    margin: 10px 0px

.mat-form-field
  width: 100%

.mat-raised-button
  width: 100%
  margin: 5px 0px

.p-5
  padding: 1rem

.mat-error
  color: #fff
  font-size: 12px
  background: #f44336
  padding: 5px
  margin: 2px auto
