<mat-card>
  <div class="grid">
    <div class="col-5 p-5">
      <h1 class="title"><mat-icon>mail</mat-icon> <span style="margin-left: 5px">Contact Form</span></h1>
      <p style="text-align: justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
      <mat-divider [inset]="true" class="space"></mat-divider>
      <form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="form">
        <div class="section-input">
          <mat-form-field appearance="outline">
            <mat-label>Name User</mat-label>
            <input required matInput formControlName="name" placeholder="Enter name user">
            <mat-icon matSuffix>face_5 </mat-icon>
            <mat-hint>Example: David Valenzuela Pardo</mat-hint>
          </mat-form-field>
          <div *ngFor="let validation of account_validation_messages.name">
            <mat-error *ngIf="validateInput('name',validation)">
              {{validation.message}}
            </mat-error>
          </div>
        </div>
        <div class="section-input">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input required  matInput formControlName="email" placeholder="Enter full email" >
            <mat-icon matSuffix>mark_as_unread</mat-icon>
            <mat-hint>Example: David Valenzuela Pardo</mat-hint>
          </mat-form-field>
          <div *ngFor="let validation of account_validation_messages.email">
            <mat-error *ngIf="validateInput('email',validation)">
              {{validation.message}}
            </mat-error>
          </div>
        </div>
        <div class="section-input">
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input required matInput appPhoneMask formControlName="phone" placeholder="Enter mobile or phone" maxlength="18"   >
            <mat-icon matSuffix>phonelink_ring</mat-icon>
            <mat-hint>Example: +573457689</mat-hint>
          </mat-form-field>
          <div *ngFor="let validation of account_validation_messages.phone">
            <mat-error *ngIf="validateInput('phone',validation)">
              {{validation.message}}
            </mat-error>
          </div>
        </div>
        <div class="section-input">
          <mat-form-field [style.fontSize]="14" appearance="outline">
            <mat-label>Autosize textarea</mat-label>
            <textarea matInput
                      formControlName =  "comment"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="7"></textarea>
            <mat-icon matSuffix>edit_note</mat-icon>
          </mat-form-field>
        </div>
        <div class="section-input">
          <mat-checkbox formControlName="terms" required class="example-margin">
            I authorize the terms and conditions.</mat-checkbox>
          <div *ngFor="let validation of account_validation_messages.terms">
            <mat-error *ngIf="validateInput('terms',validation)">
              {{validation.message}}
            </mat-error>
          </div>
        </div>
        <button [disabled]="!contactForm.valid" mat-raised-button color="primary">Send</button>
      </form>
    </div>
    <div class="col-7 p-5">
      <img class="img-vert" src="assets/images/vertical.jpg" alt="img"/>
    </div>

  </div>

</mat-card>
