<div class="container-general">
  <div style="text-align: center; max-width: 600px; margin: 5rem auto">
  <img src="assets/images/logo.jpeg" alt="logo" style="width: 80%; border-radius: 10px"/>
  <h1 style="text-align: center; font-size: 3rem; padding: 40px">Welcome 🎉</h1>
  <p style="text-align: center">The point of using Lorem Ipsum is that it has a more-or-less normal distribution
    of letters, as opposed to using 'Content here, content here', making it look like
    readable English. Many desktop publishing packages and web page editors now use Lorem
    Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
    infancy</p>
  </div>
</div>
