<div class="mat-elevation-z8">
  <div *ngIf="loading" class="loader">
    <mat-spinner></mat-spinner>
  </div>
  <div class="container-tablet">
  <table mat-table [dataSource]="dataSource"
         class="table-movies-list"
         matSort
         (matSortChange)="announceSortChange($event)"
         aria-label="Elements">
    <ng-container  matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td class="col-id" mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">Title</th>
      <td class="col-title" mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by year">Year</th>
      <td class="col-year" mat-cell *matCellDef="let row">{{row.year}}</td>
    </ng-container>
    <ng-container matColumnDef="cast">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cast">Cast</th>
      <td class="col-cast" mat-cell *matCellDef="let row">{{row.cast}}</td>
    </ng-container>
    <ng-container matColumnDef="genres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by genres">Genres</th>
      <td class="col-genres" mat-cell *matCellDef="let row">{{row.genres}}</td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Option</th>
      <td class="col-options" mat-cell *matCellDef="let row">
        <div class="example-flex-container">
          <button mat-icon-button color="primary">
            <mat-icon>description</mat-icon>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon>border_color</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 200, 300]"
                 [pageSize]="10"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
  </div>
</div>
