.full-width-table
  width: 100%


.loader
  position: absolute
  width: 100%
  height: 100%
  top: 0px
  left: 0px
  bottom: 0px
  display: flex
  justify-content: center
  align-items: center
  z-index: 9999
  background: #fff


.container-tablet
  overflow-x: auto


.table-movies-list
  width: 100%


.col-id
  width: 8%


.col-title
  width: 24%


.col-year
  width: 9%


.col-cast
  width: 10%


.col-genres
  width: 31%

.col-options
  width: 28%


@media only screen and (max-width: 790px)
  .table-movies-list
    width: 750px
  .col-genres
    width: 28%
  .col-options
    width: 100%
    padding-right: 0px!important


