<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <a routerLink="" ><img class="logo" src="assets/images/logo.jpeg" alt="logo" /></a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home" routerLinkActive="active">
        <mat-icon matListIcon>movie</mat-icon>
        <h4 matLine>Table</h4>
        <p matLine class="demo-2"> Show Movies </p>
      </a>
      <a mat-list-item routerLink="form"  routerLinkActive="active">
        <mat-icon matListIcon>help</mat-icon>
        <h4 matLine>Form</h4>
        <p matLine class="demo-2"> Show Question </p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu" >
      <img class="image_avatar" src="assets/images/avatar.jpeg" alt="avatar" />
      <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-template matMenuContent let-name="name">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Config</span>
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
        </ng-template>
      </mat-menu>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
